<div class="container">
  <div class="row">
    <div class="col-12 ">

      <div class="col-12">
        <button class="btn btn-primary" (click)="globalSaveBtn()" type="button">Save</button>
      </div>
      <form [formGroup]="projectForm" (ngSubmit)="onSaveProject()">
      <div class="row">
        <div class="form-group col-3">
          <label for="projectName">Project Name</label>
          <input type="text" class="form-control" formControlName="projectName">

          <span class="alert alert-warning" *ngIf="!projectForm.get('projectName').valid && projectForm.get('projectName').touched && !projectForm.get('projectName').pending">
            Invalid Username
          </span>
        </div>

        <div class="form-group col-3">
          <label for="email">Email</label>
          <input type="text" class="form-control" formControlName="email">
        </div>

        <div class="form-group col-3">
          <label for="status">Project Status</label>
          <select formControlName="status" id="" class="form-control">
            <option 
              *ngFor="let status of statuses;let i = index" value="{{ status.code }}"> {{ status.description }}</option>
          </select>
        </div>

        <div class="form-group col-3">
            <br>
            <button type="submit" class="btn btn-info">Save</button>
          </div>
      </div>
    </form>
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <app-personal-details></app-personal-details>

      <app-contact-details></app-contact-details>

    </div>
  </div>
</div>
